@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

@layer components {
  .text-heading-primary {
    @apply font-brand font-bold text-blue-600 text-4xl text-shadow;
  }

  .text-heading-secondary {
    @apply font-brand font-bold text-purple-600 text-4xl text-shadow;
  }

  .text-heading-tertiary {
    @apply font-brand font-bold text-blue-600 text-2xl text-shadow-sm;
  }

  .text-copy {
    @apply font-brand font-semibold text-base text-gray-700;
  }

  .text-copy-white {
    @apply font-brand font-semibold text-base text-white;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  }

  .text-shadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  }
}
